<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>
    <link th:href="@{/css/s.css}" type="text/css" rel="stylesheet">
</head>
<body>
 <header>
        <nav>
            <ul>
		<!--menu-->
                <li><a th:href="@{/homei}">Home</a></li>
                <li><a th:href="@{/gallrie}">Gallery</a></li>
                <li><a th:href="@{/vide}">Videos</a></li>
                <li><a th:href="@{/regist}">Register</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                 <li><a th:href="@{/riders}">List of Users</a></li>
                 <li><a th:href="@{/admin_details}">Insert Items details</a></li>
                 <li><a th:href="@{/items_det}">List of Items</a></li>
                 <li><a th:href="@{/searchitems}">Search Items</a></li>
            </ul>
        </nav>
    </header>
    <h3>Gallery</h3>

    <img class="c1" th:src="@{/images/img19.jpg}">
	
    <atrticle>
       
        <div id="matrenity">
            <img class="picture-group" th:src="@{/images/img11.jpg}" alt="image 1" align="left">
            <img class="picture-group" th:src="@{/images/img12.jpg}" alt="image 2" align="right">
            <img class="picture-group" th:src="@{/images/img13.jpg}" alt="image 3" align="left">
            <img class="picture-group" th:src="@{/images/img14.jpg}" alt="image 4" align="right">
            <img class="picture-group" th:src="@{/images/img17.jpg}" alt="image 5" align="left">
            <img class="picture-group" th:src="@{/images/img18.jpg}" alt="image 6" align="right">
            <img class="picture-group" th:src="@{/images/img20.jpg}" alt="image 7" align="left">
            <img class="picture-group" th:src="@{/images/img21.jpg}" alt="image 9" align="right">
            <img class="picture-group" th:src="@{/images/img22.jpg}" alt="image 9" align="left">
            <img class="picture-group" th:src="@{/images/img23.jpg}" alt="image 10" align="right">
            <img class="picture-group" th:src="@{/images/img24.jpg}" alt="image 11" align="left">
            <img class="picture-group" th:src="@{/images/img25.jpg}" alt="image 12" align="right">
        </div>
          
    </atrticle>

    <footer>
       © 2021 RM and Company
    </footer>



</body>
</html>