<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style th:inline="text">
body{
    background: url([[@{/images/img_lights.jpg}]])
                no-repeat center center fixed;
   background-size: 1240px 600px;
}
h1 {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 5px red;
  font-weight: bold;
}
h4
{
  font-weight: bold;
  text-shadow: 2px 2px 5px red
} 
h3
{
  font-weight: bold;
  text-shadow: 2px 2px 5px red
} 
h5
{
  font-weight: bold;
  text-shadow: 2px 2px 5px red
} 

</style>
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to Shubham Home</h1>
        
        <h3><a th:href="@{/regist}">Register</a></h3>
        <h4><a th:href="@{/riders}">List of Users</a></h4>
        <h5><a th:href="@{/login}">Login Page</a></h5>
        
    </div>
     
</body>
</html>