<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link th:href="@{/css/s.css}" rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
   
    h1 {
     
      color: white;
      text-shadow: 2px 2px 5px red;
      font-weight: bold;
    }   
    
    </style>
</head>
<body>
<nav>
            <ul>
		<!--menu-->
                <li><a th:href="@{/homei}">Home</a></li>
                <li><a th:href="@{/gallrie}">Gallery</a></li>
                <li><a th:href="@{/vide}">Videos</a></li>
                <li><a th:href="@{/regist}">Register</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                 <li><a th:href="@{/riders}">List of Users</a></li>
                 <li><a th:href="@{/admin_details}">Insert Items details</a></li>
                 <li><a th:href="@{/items_det}">List of Items</a></li>
                 <li><a th:href="@{/searchitems}">Search Items</a></li>
            </ul>
        </nav>
<div class="container text-center">
    <div>
        <h1>List of Items</h1>
    </div>
     
    <div >
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ITEM ID</th>
                    <th>DESCRIPTION</th>
                    <th>IMAGE</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="admin: ${duplidesc}">
                    <td th:text="${admin.id}">Item ID</td>
                    <td th:text="${admin.description}">Description</td>
                    <td><img th:src="@{'data:image/jpg;base64,' + *{admin.encodeToString()}}"/></td>
                    <td th:text="${admin.price}">Price</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>